<!--
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>
-->
<br>
<table class="gradienttable">
<tr>
<td>
<!--
  <= erb :'partials/terms' %>
  -->
  <%= erb :'partials/board' %>
</td>
<td >
  <%= erb :'partials/_trophies' %>
<!--
  <= erb :'partials/quotes' %>
-->
</td>

  </tr>

    <!--
<br>
  <tr>
    <td>
    <br>
    <= erb :'partials/story' %>
    <= erb :'partials/rating' %>
    </td>
  </tr>
    -->
</table>
