<br>
<table class="gradienttable">
<tr>
<td>
  Each game has a number of commentaries, the user gets to load the one he likes most and rate it in total or rate on of its comments.

  also the user has the ability to create a commentary of his own to be listed and rated in the collection.
  .... so ['thecollective commentary from thegomaster.com', 'user A commentary', 'user B commentary', 'your own commentary']
  ... and the system automatically stores a url reference to the commentary user who created it so that when the sgfs are shared later via the API ppl gets a reference to thegomaster.com

  <%= erb :'partials/board' %>
</td>
<td >
  <%= erb :'partials/_trophies' %>
</td>
  </tr>
</table>
