<!--
<div class="qoute">
  C
</div>
<div class="qoute">
  B
</div>
<div class="qoute">
  A
</div>
-->

<blockquote>
  <p>
  . . {it is} something unearthly . . . If there are sentient beings on other planets, then they play Go.

  </p>
  <cite>&#8211; Emanuel Lasker, chess world champion</cite>
</blockquote>

<blockquote>
  <p>
  The rules of go are so elegant, organic, and rigorously logical that if intelligent life forms exist elsewhere in the universe, they almost certainly play go. 

  </p>
  <cite>&#8211; Emanuel Lasker, chess world champion</cite>
</blockquote>

<blockquote>
  <p>
  The board is a mirror of the mind of the players as the moments pass. When a master studies the record of a game he can tell at what point greed overtook the pupil, when he became tired, when he fell into stupidity, and when the maid came by with tea. 

  </p>
  <cite>- Anonymous Go player </cite>
</blockquote>

<blockquote>
  <p>
  A few moments to learn, a lifetime to master. 
  </p>
  <cite> - Ancient Proverb </cite>
</blockquote>


<blockquote>
  <p>
  “Black has to crawl humbly on the sec­ond line to live, but this is like try­ing to lose.” 

  </p>
  <cite>  — Yoshio Ishida </cite>
</blockquote>

<blockquote>
  <p>
Success at go requires the tactic of the soldier, the exactness of the mathematician, the imagination of the artist, the inspiration of the poet, the calm of the philosopher, and the greatest intelligence.   </p>
  <cite>  -- Zhang Yunqi  </cite>
</blockquote>



<blockquote>
  <p>
  “Any game where the goal is to build ter­ri­tory has to be beau­ti­ful. There may be phases of com­bat, but they are only the means to an end, to allow your ter­ri­tory to sur­vive. One of the most extra­or­di­nary aspects of the game of go is that it has been proven that in order to win, you must live, but you must also allow the other player to live. Play­ers who are too greedy will lose; it’s a sub­tle game of equi­lib­rium, where you have to get ahead with­out crush­ing the other player. In the end, life and death are only the con­se­quences of how well or poorly you’ve made your con­struc­tion. This is what one of Taniguchi’s char­ac­ters says: you live, you die, these are con­se­quences. It’s a proverb for play­ing go, and for life.” 
  </p>
  <cite> — Muriel Barberry  </cite>
</blockquote>




<blockquote>
  <p>
  A few moments to learn, a lifetime to master. 
  </p>
  <cite> - Ancient Proverb </cite>
</blockquote>




<blockquote>
  <p>
  “Instead of work­ing out the ideal sequence for your­self, you must work out your opponent’s ideal sequence and use that as the start­ing point for your analy­sis.”
  </p>
  <cite>  — Otake Hideo </cite>
</blockquote>



<blockquote>
  Over­plays are bet­ter than tesu­jis if not prop­erly punished.

</blockquote>




<blockquote>
  Stu­dent: What is the most com­pli­cated game man has ever created?

  Mas­ter: That would be chess.

  Stu­dent: What about go?

  Mas­ter: Go has always existed.
</blockquote>




<blockquote>
  Backgam­mon is a game where man bat­tles fate. Chess is a game where man bat­tles man. Go is a game where man bat­tles himself.

</blockquote>




<script type="text/javascript">
  $(document).ready(function() {
      $('blockquote').quovolver({
transition: 'fade',
transitionSpeed: 0.00001,
autoPlaySpeed: 0.00001,
equalHeight : true
});

      });
</script>



